{% extends 'template.html' %}

{% block body %}
   <div class="jumbotron text-center">
   	
       <h1>About Us</h1>
       <p align='center'>This is a web app. Created with the help of Flask and Python. This app deals with the probelms faced by both the officials and the normal citizens at affidavit isuuing centers. The users will be avialbae to enter the data from their homes and the employees can fetch the data and create their affidavits..</p>
   </div>
   <div class = 'jumbotron text-center'>
   	   <p><b>Contact Us:</b></p>
   	   <p>Email: MuniciIndia@gmail.com</p>
   	   <p>Contact:8916315698,01764598665</p>
   	   <p>P/O Box Number - 108965 </p>
   </div>
{% endblock %}




