<!DOCTYPE html>
<html>
	<head>
		<title>Admin</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	</head>
	<body>
		{% include 'includes/navbar.html' %}
		{% include 'includes/messages.html' %}

		<div class='jumbotrom text-center'>
			<p> Welcome To the DashBoard,{{name}}</p>
		<p>{{data}}</p>
		<table class='table table-striped'>
			<tr>
				<th>Complaint</th>
				<th>Address</th>
				<th>Category</th>
				<th>Complete Data</th>
			</tr>
			{% for i in data %} <!--Here Each i is a dictionary-->
			<tr>
				<td>{{i.Complaint}}</td>
				<td>{{i.Address}}</td>
				<td>{{i.category}}</td>
				<td>{{i}}</td>
			</tr>
			{% endfor %}
		</table>
	</div>
	</body>
</html>